@model IEnumerable<SalesListModel>

@{
    ViewData["Title"] = "List Of All Sales";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>
                Customer
            </td>
            <td>
                Discount
            </td>
            <td>
                Price
            </td>
            <td>
                Discounted Price
            </td>

            <td>
                Action
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <th>
                    @sale.CustomerName
                </th>
                <th>
                    @(sale.Discount + (sale.IsYoungDriver ? 0.05 : 0))%
                </th>
                <th>
                    $@sale.Price
                </th>
                <th>
                    $@sale.DiscountPrice.ToString("F2")
                </th>
                <th class="text-center">
                    <a class="btn btn-sm btn-warning" href="/sales/@sale.Id">More Details</a>
                </th>
            </tr>
        }
    </tbody>
</table>