@model AllSuppliers

@{
    ViewData["Title"] = "Edit Supplier";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="row">
        @Html.Partial("_SuppliersForm", Model)
    </div>
</form>


