@model SuppliersModel

@{
    ViewData["Title"] = $"{Model.Type} Suppliers";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name        
        </th>
        <th>
            Number Of Parts
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var supp in Model.Suppliers)
    {
        <tr>
            <th>
                @supp.Id
            </th>
            <th>
                @supp.Name
            </th>
            <th>
                @supp.NumberOfParts
            </th>
        </tr>
    }
    </tbody>
</table>