@model IEnumerable<CameraListModel>
@{
    ViewData["Title"] = "All Cameras";
}

<div class="row">
    @foreach (var camera in Model)
    {
        <img src="@camera.ImageUrl" class="img-thumbnail img-responsive" width="100" height="80" />
        <h3>@camera.Make @camera.Model</h3>
        <h3>$@camera.Price  @(camera.Quantity > 0 ? "In Stock" : "OUT OF STOCK")</h3>
        <a class="btn btn-default" href="/cameras/details/@camera.Id">Deatails</a>
        <a href="/cameras/edit/@camera.Id" class="btn bg-success">Edit Camera</a>
        <a href="/cameras/delete/@camera.Id" class="btn btn-danger">Delete Camera</a>
        <hr/>
    }
</div>

