@model CustomerModel
@{
    ViewData["Title"] = "Add Customer";
}
<h2>@ViewData["Title"]</h2>


<form method="post">
    <div class="row">
        @Html.Partial("_CustomersForm", Model)
    </div>
</form>