{{> header}}

<div class="content">
    {{> navigation}}

    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>

        {{> postList}}
    </section>
</div>

{{> footer}}